{% extends 'base.html' %}

{% block title %}
    Публикации института мерзлотоведения
{% endblock %}

{% block content %}
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div class="border-b border-gray-200 pb-5">
            <h3 class="text-3xl font-semibold leading-6 text-gray-900">Публикации сотрудников</h3>
        </div>
        {% for article in page_obj %}
            {% include 'articles/components/article-card.html' with article=article %}
        {% endfor %}
        {% include 'components/navigation.html' %}
    </div>

{% endblock %}