{% load static %}

<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}

    {% endblock %}</title>
    <script src="{% static 'js/htmx.min.js' %}" defer></script>
    <script src="{% static 'js/htmx.debug.js' %}" defer></script>
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
</head>
<body>
{% include 'components/header.html' %}
{% block content %}

{% endblock %}
{% include 'components/footer.html' %}
</body>
</html>